body {
    background-color: #000000;
    margin: 0;
    overflow: hidden;
    font-family: monospace;
    font-size: 11px;
    text-align: center;
    cursor: pointer;
}

a {
    color: #0078ff;
}

#info {
    color: #ffffff;
    position: absolute;
    top: 10px;
    width: 100%;
}

#warning {
    color: #ff0000;
}